/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
* {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a {
  color: black;
}

a:hover {
   color: black;
}

.btn-primary {
  color: black;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.btn-link {
    color: black;
}

.btn-link:hover {
    color: black;
    border-radius: 10;
    background-color: lightgreen;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: black;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}


.hotelsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.hotelContainer {
    width: 400px;
    height: 200px;
    background-size: cover;
    border-radius: 20px;
    margin: 20px;
}

.hotelContainerAlpha {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 200px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.5);
}

.hotelName {
    color: white;
    font-size: 30px;
}

.hotelName:hover {
    color: lightgreen;
    font-size: 30px;
}

.bookButton {
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    background-color: lightgreen;
    width: 100px;
    text-align: center;
    border-radius: 5px;
}

.hotelHeader {
    width: 100%;
    height: 200px;
    background-size: cover;
    border-radius: 20px;
    margin: 20px;
}

.hotelHeaderAlpha {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    width: 100%;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.5);
}

.hotelHeaderName {
    color: white;
    font-size: 50px;
}

.dateContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bookPage {
    text-align: center;
    align-items: center;
}

.roomsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.roomContainer {
    width: 300px;
    height: 200px;
    background-size: cover;
    border-radius: 20px;
    margin: 20px;
}

.roomContainerAlpha {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 200px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.5);
}
