@using Microsoft.AspNetCore.Identity
@using project.Models

@model project.Models.AccountViewModels.ChangePasswordViewModel
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Change password";
}

<div>
    <form asp-controller="Profile" asp-action="ChangePassword" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="newPassword" class="control-label"></label>
            <input asp-for="newPassword" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="newPasswordConfirm" class="control-label"></label>
            <input asp-for="newPasswordConfirm" class="form-control" />
        </div>

        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
        <a asp-action="Index" asp-controller="Profile">Go back to profile</a>
    </form>
</div>
