@using Microsoft.AspNetCore.Identity
@using project.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Profile";
    var currentUser = await UserManager.GetUserAsync(User);
    ViewData["FullName"] = currentUser.getFullName();

    var tempMessage = (string)TempData["Message"];
}


<div>
    @if (tempMessage != null)
    {
        <div>
            <h2>@tempMessage</h2>
        </div>
    }

    <div>
        <p>You are signed in. Hello @ViewData["FullName"] !</p>
        <a asp-area="" asp-controller="Profile" asp-action="EditProfile"> Edit profile </a>
        <a asp-area="" asp-controller="Profile" asp-action="ChangePassword"> Change password </a>

            <a asp-area="" asp-controller="Messages" asp-action="Index"> See messages </a>

    </div>

    <div>
        <h2>Your reservations</h2>
        <div>
            Working on ...
        </div>
    </div>
</div>
