
@{
    ViewData["Title"] = "About page";
}



<div>
   <h2>About Page</h2>

   <p>
       Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus mattis felis eros, ac facilisis arcu eleifend condimentum. Aenean sodales quam et molestie aliquet. Donec dignissim pretium libero at tristique. Sed ex erat, semper sit amet quam in, laoreet bibendum lectus.
   </p>

</div>