@model List<project.Models.Hotel>

<br />

<br />

<div class="row">
     @foreach (var hotel in Model)
            {
                <div>
                    @hotel.Name
                </div>
            }

</div>