@using Microsoft.AspNetCore.Identity
@using project.Models

@model IEnumerable<project.Models.Hotel>
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@*@model Hotel*@

@{
    ViewData["Title"] = "Home Page";
}

<div>
    @foreach (var item in Model)
            {
                <div>@Html.DisplayFor(modelItem => item.Name)</div>
                <a asp-action="HotelIndex" asp-route-id="@item.Id">See more</a>
            }

    @Model.Count()

</div>
