@using Microsoft.AspNetCore.Identity
@using project.Models

@model IEnumerable<project.Models.Message>
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "All Messages";
}

<div>
    <a asp-controller="Messages" asp-action="AllMessages"> See previous messages </a>


    @if (Model.Count() != 0)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Message
                    </th>
                    <th>
                        From
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.MessageContent)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FromEmail)
                        </td>
                    </tr>
                }
            </tbody>

        </table>

    }
    else
    {
        <p>You don't have any messages</p>
    }

    <a asp-controller="Messages" asp-action="Index" > Go back </a>
</div>
